.projects-section {
  padding: 0 10%;
  height: 100vh;  
  --swiper-pagination-bullet-inactive-opacity:0.4;
  --swiper-navigation-size:35px;
}

.projects-heading {
  height: 10vh;
  display: flex;
  align-items: flex-end;        
}
.card-container{    
  display: flex;
  align-items: center;
}
.project-card {  
  border: 1px solid rgba(42, 108, 134, 0.644);
  padding: 20px;
  margin: 15% auto;   
  border-radius: 20px;
  width: 84%; 
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-image {
  border-radius: 10px;
  border: 1px solid rgba(63, 97, 189, 0.562);
  width: 90%;
  height: 30%;
}

.project-description {
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;  
  -webkit-box-orient: vertical;
  overflow: hidden;  
  width: 90%;
  padding:0 10px;
  font-size: 14px;
}

.project-button {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  padding: 1px 7px;
  border: 1px solid hsla(206, 100%, 50%, 0.685);
  border-radius: 10px;

}
.swiper-pagination-bullet{
  background-color:#007aff;
}


@media screen and (min-width: 600px){    

  .projects-section{
    padding:0 100px;         
  }

  .projects-heading{
    height: 5vh;      
    padding-top: 100px;
    margin: 0;
  }

  .project-card{    
    height: 58vh;
    gap: 5px;
    padding: 15px;
  }

  .projects-section .swiper {
    padding: 0 40px; 
  }

}
