.project__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;       
}
#project{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project__item-content .btn{
    padding: 0.1rem 0.9rem;         
    margin-top: 1rem;    
    font-size: 0.9rem;            
    border-radius: 2rem;         
    border: 1px solid var(--color-primary-variant);         
}    
.project__item {
    background-color: var(--color-ctn);
    padding: 1.3rem 1.3rem 0rem 1.3rem; 
    border-radius: 2rem;
    align-items: center;
    border: 1px solid transparent;
    transition: var(--transition);
    border-color: var(--color-primary-variant);

}


.project__item-image {
    border-radius: 1.5rem;
    border: 1px solid transparent;
    overflow: hidden;    
    margin-right: auto;
    margin-left: auto;
    border-color: var(--color-primary-variant);
    width: 60%;              
    height:25%;                
}

.project__item h3 {
    text-align: center;
    margin: 1.5rem 0 1rem;

}

.project__item p {    
    font-size: 0.9rem;
    color: var(--color-light);
}


.project__item-content {
    height: 49%;
    display: grid;
    place-items: center;
}


@media screen and (max-width: 1024px){
    .project__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    #project{
        height: 100%;
    }
    .project__container {
        grid-template-columns: 1fr;        
        gap: 2rem;
    }
}