#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.about__content p {
    font-family: "Nunito Sans", serif;
    color: var(--color-light);
    font-weight: 600;
    text-indent: 40px;
}

.highlight {
    font-weight: 500;
    background: linear-gradient(to right,  #19bb98, #60a5fa); 
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    color: transparent; 
    white-space: nowrap;
  }
  
  .container.code__container {    
    display: flex; 
    justify-content: center;
}

#about h3 {
    color: var(--color-white);
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.code h4 {
    color: var(--color-light);
}


.code__img {
    width: 2rem; 
    height: 2rem;
    overflow: hidden;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}

.code__name {
    font-size: 1rem;
    color: var(--color-white);
}

.code {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: var(--color-ctn);
    padding: 1.2rem 1rem;  
    border-radius: 3rem;    
    flex-grow: 1;
    border: 1px solid transparent;
    border-color: var(--color-primary-variant);
    text-align: left;
    flex-direction: column;
}

.code__left {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 0.5rem;
}

.code__right {
    text-align: left;     
    margin-bottom: 0rem;
}

.code_name {
    font-size: 0.9rem;
    color: var(--color-white);        
}

.code .btn {    
    padding: 0.1rem 0.9rem;         
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    font-size: 0.9rem;            
    border-radius: 2rem;         
    border: 1px solid var(--color-primary-variant); 
    display: inline-block;
    text-align: center;   
    margin-left: auto;
    margin-right: auto; 
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

  
@media screen and (max-width: 1024px){
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__content p {
        margin: 1rem 0 1.5rem;
    }
    .container.code__container {
        width: 60%;
    }
}
  
@media screen and (max-width: 600px){    
    #about{
        padding-bottom: 10%;
    }
    .about__content {
        text-align: center;
    }
    .about__content p {
        margin: 1.5rem 0;
        text-align: left;
    }
    .container.code__container {
        width: 73%;
        padding-bottom: 2.7rem;         
    }

    #about h3 {
        text-align: center;
        margin-top: 1rem;        
    }

    .code {
        padding: 1rem;  
    }
}
