.about-section {
  height: 100dvh;
  display:flex;
 flex-direction:column; 
}

.about-header {
  height: 10dvh;
  padding-left: 10%;    
}

.about-content {
  display: flex;  
  height: 70dvh;
  flex-direction: column;
  padding: 10% 10%;
  font-size: 15px;
  justify-content: center;
}

.highlight {
  color: #007accee;
}



@media screen and (min-width: 600px){    
  .about-section{
    padding:0 100px;
    justify-content:center;
  }
  .about-header{
    height: 10vh;      
    padding-left: 0;
    padding-top: 5vh;
  }
  .about-content{      
    height: 60vh;
    font-size: 18px;
    padding: 0;
  }
}
