#home{
  height: 100dvh;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  padding: 0 10%;
  height: 100%;
}

.home-heading {
  color: rgb(27, 141, 235);
  text-align: center;  
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
}

.home-span {
  font-weight: normal;
  color: rgba(186, 195, 216, 0.973);
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.home-subheading {
  color: rgba(222, 222, 226, 0.808);
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 600px){     

  .home-container{
    align-items: center;
    width: 86%;
    padding: 0% 7%;
  }

  .home-heading{
    font-size: 60px;
    font-weight: 500;
    text-align: center;
  }

  .home-span{
    font-size: 50px;
    font-weight: 500;
  }

  .home-subheading{
    font-size: 19px;
    text-align: center;
  }
}
