.contact-section {
  height: 100dvh;
}

.contact-header {
  height: 10dvh;
  display: flex;
  align-items: flex-end;
  padding:1em 2em;

}

.contact-content {
  display: flex;
  height: 65dvh;
  padding: 1em 2em;
  flex-direction: column;
}

.contact-text {
  height: 50%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  align-items: flex-start;
  justify-content: center;
}

.contact-email {
  text-decoration: none;
  color: #007acc;
}

.contact-email:visited {
  color: inherit;  
}

.contact-form-wrapper {
  height: 50%;
  padding-top: 1em;
}

.contact-form {
  display: flex;
  flex-direction: column;    
  align-items: center;
  justify-content: center;
}

.contact-textarea {
  width: 80%;
  margin: 8% 0;
  padding: 3%;
  background-color: inherit;
  border: 2px solid rgba(64, 133, 197, 0.74);
  outline:none;
  color: inherit;
  resize: none;
}
.contact-textarea:focus{
  border: 2px solid rgb(64,133,197);
  box-shadow: 0 0 4px cyan;
}
.contact-button {
  padding: 1px 7px;
  border-radius: 10px;
  font-size: 13px;
  color: inherit;
  border: 1px solid hsla(206, 100%, 50%, 0.74);  
  background-color: rgba(230, 230, 230, 0.014);
}

.contact-button:hover{
  cursor: pointer;
}

.contact-footer {    
  display: flex;
  align-items: center;    
  position: relative;    

}

.social-icons {
  position: absolute;
  left: 10px;
  display: flex;
  gap: 2em;
}

.fa-icon{
  height: 25px;
  width: 25px;
}

.white-link {
  color: white;
}

.social-insta {
  position: absolute;
  right: 10px;    
}



@media screen and (min-width: 600px){    

  .contact-section{
    padding:0 100px;
  }

  .contact-header{
    height: 20vh;      
    padding-left: 0;
    padding-top: 5vh;
  }

  .contact-content{
    height: 70vh;
    padding: 0;
  }

  .contact-text{            
    font-size: 18px;
    height: 50%
  }

  .contact-form {
    height: 50%;
    gap: 30px;
    flex-direction: row;
  }

  .contact-textarea {
    width: 50%;
    padding: 10px;
  }

  .contact-button {
    font-size: 15px;
    padding: 5px 10px;
  }

  .contact-footer {    
    bottom: 5vh;
  }

  .social-icons {
    gap:40px;
  }

  .fa-icon{
    height: 30px;
    width: 30px;
  }
}
